name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  greycollar_docs:
    uses: GreyCollar/GreyCollar/.github/workflows/deploy.yml@main
    with:
      service_name: 'greycollar.docs'
      environment: 'live'
      install_dependencies: true
      run_build: true
    secrets: inherit
